*,
*:after,
*:before {
    box-sizing: border-box;
}

//FONT
$principal-font: 'Open Sans',
sans-serif;

/*BREAK POINTS*/
$minimobile-breakpoint: 320px;
$mobile-breakpoint: 568px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

body {
    background-color: #000;
    overflow-x: hidden;

    .wrapper {
        min-width: 100vw;
        font-family: $principal-font;
        background-color: #000;

        .header {
            width: 100%;
            height: 65px;
            display: flex;
            align-items: center;
            font-weight: 600;
            position: fixed;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 5px;

            &-menu {
                display: none;
                padding: 0;
                border: 0;
                background-color: transparent;
                width: 50px;
                height: 50px;
                align-items: center;
                justify-content: center;
                font-size: 1.7em;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }

                @media (max-width: $mobile-breakpoint) {
                    display: none;
                    display: inline-flex;
                }

                @media (max-width: $minimobile-breakpoint) {
                    display: none;
                    display: inline-flex;
                }
            }

            &-logo {
                border-right: 30px;
                margin-right: 87.3px;
                margin-left: 81px;
            }

            &-nav {
                white-space: nowrap;
                display: flex;
                font-size: 1.2rem;

                &-anchor {
                    color: #fff;
                    padding-right: 27px;
                    text-decoration: none;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.5)
                    }

                    @media (max-width: $mobile-breakpoint) {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }

                    @media (max-width: $minimobile-breakpoint) {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }

                }

                @media (max-width: $mobile-breakpoint) {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    height: 100vh;
                    width: 270px;
                    background-color: #000;
                    flex-direction: column;
                    padding: 20px;



                    &.open {
                        display: inline-flex;
                    }
                }

                @media (max-width: $minimobile-breakpoint) {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    height: 100vh;
                    width: 270px;
                    background-color: #000;
                    flex-direction: column;
                    padding: 20px;



                    &.open {
                        display: inline-flex;
                    }
                }
            }
        }
    }

    .main {
        color: #fff;

        @media (max-width: $mobile-breakpoint) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            overflow-x: hidden;
            min-width: 100vw;
        }

        @media (max-width: $minimobile-breakpoint) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            overflow-x: hidden;
            min-width: 100vw;
        }

        &-photo {
            background-image: url(/SRC/images-courflix/portada1.png);
            background-size: cover;
            background-position: center;
            padding: 160px 80px 120px;
            min-height: 85vh;
            color: #fff;

            @media (max-width: $mobile-breakpoint) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            @media (max-width: $minimobile-breakpoint) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &-secondarytText {
                font-size: 1.5em;
                margin-bottom: 18px;
                font-weight: bold;

                @media (max-width: $mobile-breakpoint) {
                    display: none;
                }

                @media (max-width: $minimobile-breakpoint) {
                    display: none;
                }
            }

            &-principalText {
                font-size: 7.5em;
                margin-bottom: 15px;
                line-height: 1em;
                max-width: 650px;
                font-weight: bold;

                @media (max-width: $mobile-breakpoint) {
                    text-align: start;
                }

                @media (max-width: $minimobile-breakpoint) {
                    text-align: start;
                    margin: 10px;
                    font-size: 2.3em;
                    font-weight: bold;
                }
            }

            .green-box {
                display: flex;
                flex-direction: wrap;
                margin-bottom: 10px;

                @media (max-width: $minimobile-breakpoint) {
                    display: flex;
                    flex-direction: row;

                }

                .span-95 {
                    color: #009c04;
                    font-weight: 700;
                    padding: 14px;

                    @media (max-width: $mobile-breakpoint) {
                        display: none;
                    }

                    @media (max-width: $minimobile-breakpoint) {
                        display: none;
                    }

                }

                .span-year {
                    color: #fff;
                    padding: 14px;
                }

                .span-edad {
                    color: #fff;
                    padding: 14px;
                }

                .temporadas {
                    color: #fff;
                    padding: 14px;
                    font-weight: bold;
                }

                &-circle {
                    @media (max-width: $mobile-breakpoint) {
                        display: none;
                    }

                    @media (max-width: $minimobile-breakpoint) {
                        display: none;
                    }

                    .fa-thumbs-up {
                        font-size: 2em;
                        border-radius: 50px;
                        border: 2px solid #fff;
                        padding: 10px;

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(212, 212, 212, 0.37);
                            color: #000;
                            border: 2px solid rgba(212, 212, 212, 0.37);
                        }
                    }

                    .fa-thumbs-down {
                        font-size: 2em;
                        border-radius: 50px;
                        border: 2px solid #fff;
                        padding: 10px;

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(212, 212, 212, 0.37);
                            color: #000;
                            border: 2px solid rgba(212, 212, 212, 0.37);
                        }
                    }
                }
            }

            &-button {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 198px;
                height: 60px;
                background: rgba(157, 151, 151, 0.5);
                border-radius: 9px;
                margin-right: 25px;
                text-decoration: none;
                color: #fff;
                font-size: 1.3rem;
                font-weight: 400;

                @media (max-width: $mobile-breakpoint) {
                    display: none;
                }

                @media (max-width: $minimobile-breakpoint) {
                    display: none;
                }

            }

            &-button-repro {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 198px;
                height: 60px;
                background: #ED0A1D;
                border-radius: 9px;
                margin-right: 25px;
                text-decoration: none;
                color: #fff;
                font-size: 1.3rem;
                font-weight: 400;

                @media (max-width: $mobile-breakpoint) {
                    margin-bottom: 10px;
                }
            }

            &-thirdText {
                margin-top: 20px;
                font-size: 1.4em;
            }

            &-Text {
                margin-top: 10px;
                font-size: 1.4em;
                max-width: 600px;
                line-height: 2em;
                font-weight: 200;

                @media (max-width: $mobile-breakpoint) {
                    display: none;
                }

                @media (max-width: $minimobile-breakpoint) {
                    display: none;
                }

            }
        }


        //COMIENZA EL CAROUSEL

        &-carousel-principal {
            margin: -100px 0 50px;
            padding: 0 80px;
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #000;
            min-height: 50vh;

            .first-carousel {

                .series-title-one {
                    font-size: 1.5em;
                    padding-bottom: 22px;
                    padding-top: 10px;
                }

                li {
                    font-size: 1.2em;
                    padding: 10px;

                    img {
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}
