*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*BREAK POINTS*/
body {
  background-color: #000;
  overflow-x: hidden;
}

body .wrapper {
  min-width: 100vw;
  font-family: "Open Sans", sans-serif;
  background-color: #000;
}

body .wrapper .header {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
}

body .wrapper .header-menu {
  display: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.7em;
}

body .wrapper .header-menu:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 568px) {
  body .wrapper .header-menu {
    display: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (max-width: 320px) {
  body .wrapper .header-menu {
    display: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

body .wrapper .header-menu .fa-bars {
  color: #fff;
  -webkit-transition: 1s all;
  transition: 1s all;
}

body .wrapper .header-menu .fa-bars:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

body .wrapper .header-logo {
  border-right: 30px;
  margin-right: 87.3px;
  margin-left: 81px;
}

body .wrapper .header-nav {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
}

body .wrapper .header-nav-anchor {
  color: #fff;
  padding-right: 27px;
  text-decoration: none;
}

body .wrapper .header-nav-anchor:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 568px) {
  body .wrapper .header-nav-anchor {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 320px) {
  body .wrapper .header-nav-anchor {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 568px) {
  body .wrapper .header-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vh;
    width: 270px;
    background-color: #000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  body .wrapper .header-nav.open {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (max-width: 320px) {
  body .wrapper .header-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vh;
    width: 270px;
    background-color: #000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  body .wrapper .header-nav.open {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

body .main {
  color: #fff;
}

@media (max-width: 568px) {
  body .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    overflow-x: hidden;
    min-width: 100vw;
  }
}

@media (max-width: 320px) {
  body .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    overflow-x: hidden;
    min-width: 100vw;
  }
}

body .main-photo {
  background-image: url(/SRC/images-courflix/portada1.png);
  background-size: cover;
  background-position: center;
  padding: 160px 80px 120px;
  min-height: 85vh;
  color: #fff;
}

@media (max-width: 568px) {
  body .main-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 320px) {
  body .main-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .main-photo-secondarytText {
  font-size: 1.5em;
  margin-bottom: 18px;
  font-weight: bold;
}

@media (max-width: 568px) {
  body .main-photo-secondarytText {
    display: none;
  }
}

@media (max-width: 320px) {
  body .main-photo-secondarytText {
    display: none;
  }
}

body .main-photo-principalText {
  font-size: 7.5em;
  margin-bottom: 15px;
  line-height: 1em;
  max-width: 650px;
  font-weight: bold;
}

@media (max-width: 568px) {
  body .main-photo-principalText {
    text-align: center;
    font-size: 5em;
  }
}

@media (max-width: 320px) {
  body .main-photo-principalText {
    text-align: start;
    margin: 10px;
    font-size: 2.3em;
    font-weight: bold;
  }
}

body .main-photo .green-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  margin-bottom: 10px;
}

@media (max-width: 320px) {
  body .main-photo .green-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body .main-photo .green-box .span-95 {
  color: #009c04;
  font-weight: 700;
  padding: 14px;
}

@media (max-width: 568px) {
  body .main-photo .green-box .span-95 {
    display: none;
  }
}

@media (max-width: 320px) {
  body .main-photo .green-box .span-95 {
    display: none;
  }
}

body .main-photo .green-box .span-year {
  color: #fff;
  padding: 14px;
}

body .main-photo .green-box .span-edad {
  color: #fff;
  padding: 14px;
}

body .main-photo .green-box .temporadas {
  color: #fff;
  padding: 14px;
  font-weight: bold;
}

@media (max-width: 568px) {
  body .main-photo .green-box-circle {
    display: none;
  }
}

@media (max-width: 320px) {
  body .main-photo .green-box-circle {
    display: none;
  }
}

body .main-photo .green-box-circle .fa-thumbs-up {
  font-size: 2em;
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 10px;
}

body .main-photo .green-box-circle .fa-thumbs-up:hover {
  cursor: pointer;
  background-color: rgba(212, 212, 212, 0.37);
  color: #000;
  border: 2px solid rgba(212, 212, 212, 0.37);
}

body .main-photo .green-box-circle .fa-thumbs-down {
  font-size: 2em;
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 10px;
}

body .main-photo .green-box-circle .fa-thumbs-down:hover {
  cursor: pointer;
  background-color: rgba(212, 212, 212, 0.37);
  color: #000;
  border: 2px solid rgba(212, 212, 212, 0.37);
}

body .main-photo-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 198px;
  height: 60px;
  background: rgba(157, 151, 151, 0.5);
  border-radius: 9px;
  margin-right: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
}

@media (max-width: 568px) {
  body .main-photo-button {
    display: none;
  }
}

@media (max-width: 320px) {
  body .main-photo-button {
    display: none;
  }
}

body .main-photo-button-repro {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 198px;
  height: 60px;
  background: #ED0A1D;
  border-radius: 9px;
  margin-right: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
}

@media (max-width: 568px) {
  body .main-photo-button-repro {
    margin-bottom: 10px;
  }
}

body .main-photo-thirdText {
  margin-top: 20px;
  font-size: 1.4em;
}

body .main-photo-Text {
  margin-top: 10px;
  font-size: 1.4em;
  max-width: 600px;
  line-height: 2em;
  font-weight: 200;
}

@media (max-width: 568px) {
  body .main-photo-Text {
    display: none;
  }
}

@media (max-width: 320px) {
  body .main-photo-Text {
    display: none;
  }
}

body .main-carousel-principal {
  margin: -100px 0 50px;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #000;
  min-height: 50vh;
}

body .main-carousel-principal .first-carousel .series-title-one {
  font-size: 1.5em;
  padding-bottom: 22px;
  padding-top: 10px;
}

body .main-carousel-principal .first-carousel li {
  font-size: 1.2em;
  padding: 10px;
}

body .main-carousel-principal .first-carousel li img {
  padding-bottom: 20px;
}
/*# sourceMappingURL=preview-serie.css.map */