*,
*:after,
*:before {
    box-sizing: border-box;
}

//FONT
$principal-font: 'Open Sans',
sans-serif;

/*BREAK POINTS*/
$minimobile-breakpoint: 320px;
$mobile-breakpoint: 568px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

body {
    background-color: #000;
    overflow-x: hidden;

    .wrapper {
        min-width: 100vw;
        font-family: $principal-font;
        background-color: #000;

        .header {
            width: 100%;
            height: 65px;
            display: flex;
            align-items: center;
            font-weight: 600;
            position: fixed;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 5px;

            &-menu {
                display: none;
                padding: 0;
                border: 0;
                background-color: transparent;
                width: 50px;
                height: 50px;
                align-items: center;
                justify-content: center;
                font-size: 1.7em;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }

                @media (max-width: $mobile-breakpoint) {
                    display: none;
                    display: inline-flex;
                }

                .fa-bars{
                    color: #fff;
                    transition:  1s all;

                    &:hover {
                        transform: rotate(360deg);
                    }                     
                }
            }

            &-logo {
                border-right: 30px;
                margin-right: 87.3px;
                margin-left: 81px;
            }

            &-nav {
                white-space: nowrap;
                display: inline-flex;
                font-size: 1.2rem;

                &-anchor {
                    color: #fff;
                    padding-right: 27px;
                    text-decoration: none;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.5);
                    }

                    @media (max-width: $mobile-breakpoint) {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }

                @media (max-width: $mobile-breakpoint) {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    height: 100vh;
                    width: 270px;
                    background-color: #000;
                    flex-direction: column;
                    padding: 20px;

                    &.open {
                        display: inline-flex;
                    }
                }
            }
        }
    }

    .main {
        color: #fff;

        @media (max-width: $mobile-breakpoint) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            overflow-x: hidden;
            min-width: 100vw;
        }

        &-photo {
            background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.8), rgba(170, 170, 170, 0.11)),url(/SRC/images-courflix/portada.png);
            background-size: cover;
            background-position: center;
            padding: 160px 80px 120px;
            min-height: 85vh;
            color: #fff;
            min-height: 160vh;

            @media (max-width: $mobile-breakpoint) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            

            &-secondarytText {
                font-size: 1.5em;
                margin-bottom: 18px;
                font-weight: bold;

                @media (max-width: $mobile-breakpoint) {
                    font-size: 1.4em;
                }

                @media (max-width: $minimobile-breakpoint) {
                    display: none;
                }
            }

            &-principalText {
                font-size: 7.5em;
                margin-bottom: 15px;
                line-height: 1em;
                max-width: 650px;
                font-weight: bold;

                @media (max-width: $mobile-breakpoint) {
                    font-size: 5em;
                }

                @media (max-width: $minimobile-breakpoint) {
                    font-size: 3.8em;
                }
            }

            &-button-1 {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 198px;
                height: 60px;
                background: rgba(157, 151, 151, 0.5);
                border-radius: 9px;
                margin-right: 25px;
                text-decoration: none;
                color: #fff;
                font-size: 1.3rem;
                font-weight: 400;

                @media (max-width: $mobile-breakpoint) {
                    margin-bottom: 10px;
                }
            }

            &-button {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 198px;
                height: 60px;
                background: rgba(157, 151, 151, 0.5);
                border-radius: 9px;
                margin-right: 25px;
                text-decoration: none;
                color: #fff;
                font-size: 1.3rem;
                font-weight: 400;
            }

            &-thirdText {
                margin-top: 20px;
                font-size: 1.4em;
            }

            &-Text {
                margin-top: 10px;
                font-size: 1.4em;
                max-width: 600px;
                line-height: 2em;
                font-weight: 200;
            }
        }


        //COMIENZA EL CAROUSEL

        &-carousel-principal {
            margin: -100px 0 50px;
            padding: 0 80px;
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #000;
            min-height: 130vh;

            .first-carousel {

                .series-title-one {
                    font-size: 1.5em;
                    padding-bottom: 22px;
                    padding-top: 10px;
                }

                .flechas {
                    
                    @media (max-width: $mobile-breakpoint) {
                        display: none;
                    }

                    @media (max-width: $minimobile-breakpoint) {
                        display: none;
                    }
                }
            }

            .second-carousel {

                .series-title {
                    font-size: 1.5em;
                    padding-bottom: 22px;
                    padding-top: 54px;
                }

                .flechas {
                    
                    @media (max-width: $mobile-breakpoint) {
                        display: none;
                    }

                    @media (max-width: $minimobile-breakpoint) {
                        display: none;
                    }
                }

                //PRIMERA BARRA PROGRESIVA
                .progress {
                    margin: 15px;
                    width: 221px;
                    height: 10px;
                    background-color: #858585;
                    

                    &-bar {
                        width: 157px;
                        height: 10px;
                        background-color: #C60F0E;
                    }
                }

                //SEGUNDA BARRA PROGRESIVA
                .progress-A {
                    margin: 15px;
                    width: 221px;
                    height: 10px;
                    background-color: #858585;
                    

                    .A {
                        width: 60px;
                        height: 10px;
                        background-color: #C60F0E;
                    }
                }

                //TERCER BARRA PROGRESIVA
                .progress-B {
                    margin: 15px;
                    width: 221px;
                    height: 10px;
                    background-color: #858585;
                    

                    .B {
                        width: 26px;
                        height: 10px;
                        background-color: #C60F0E;
                    }
                }

                //CUARTA BARRA PROGRESIVA
                .progress-C {
                    margin: 15px;
                    width: 221px;
                    height: 10px;
                    background-color: #858585;
                    

                    .C {
                        width: 0px;
                        height: 10px;
                        background-color: #C60F0E;
                    }
                }

                //QUINTA BARRA PROGRESIVA
                .progress-D {
                    margin: 15px;
                    width: 221px;
                    height: 10px;
                    background-color: #858585;
                    

                    .D {
                        width: 30px;
                        height: 10px;
                        background-color: #C60F0E;
                    }
                }

                //SEXTA BARRA PROGRESIVA
                .progress-E {
                    margin: 15px;
                    width: 221px;
                    height: 10px;
                    background-color: #858585;
                    

                    .E {
                        width: 80px;
                        height: 10px;
                        background-color: #C60F0E;
                    }
                }

                //SEPTIMA BARRA PROGRESIVA
                .progress-F {
                    margin: 15px;
                    width: 221px;
                    height: 10px;
                    background-color: #858585;
                    

                    .F {
                        width: 45px;
                        height: 10px;
                        background-color: #C60F0E;
                    }
                }

                //OCTAVA BARRA PROGRESIVA
                .progress-G {
                    margin: 15px;
                    width: 221px;
                    height: 10px;
                    background-color: #858585;
                    

                    .G {
                        width: 10px;
                        height: 10px;
                        background-color: #C60F0E;
                    }
                }

                //NOVENA BARRA PROGRESIVA
                .progress-H {
                    margin: 15px;
                    width: 221px;
                    height: 10px;
                    background-color: #858585;
                    

                    .H {
                        width: 55px;
                        height: 10px;
                        background-color: #C60F0E;
                    }
                }
            }

            .third-carousel {

                .series-title {
                    font-size: 1.5em;
                    padding-bottom: 22px;
                    padding-top: 54px;

                }

                .flechas {
                    
                    @media (max-width: $mobile-breakpoint) {
                        display: none;
                    }

                    @media (max-width: $minimobile-breakpoint) {
                        display: none;
                    }
                }
            }
        }
    }
}