*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*BREAK POINTS*/
body {
  background-color: #000;
  overflow-x: hidden;
}

body .wrapper {
  min-width: 100vw;
  font-family: "Open Sans", sans-serif;
  background-color: #000;
}

body .wrapper .header {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
}

body .wrapper .header-menu {
  display: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.7em;
}

body .wrapper .header-menu:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 568px) {
  body .wrapper .header-menu {
    display: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

body .wrapper .header-logo {
  border-right: 30px;
  margin-right: 87.3px;
  margin-left: 81px;
}

body .wrapper .header-nav {
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.2rem;
}

body .wrapper .header-nav-anchor {
  color: #fff;
  padding-right: 27px;
  text-decoration: none;
}

body .wrapper .header-nav-anchor:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 568px) {
  body .wrapper .header-nav-anchor {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 568px) {
  body .wrapper .header-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vh;
    width: 270px;
    background-color: #000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  body .wrapper .header-nav.open {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

body .main {
  color: #fff;
}

@media (max-width: 568px) {
  body .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    overflow-x: hidden;
    min-width: 100vw;
  }
}

body .main-photo {
  background-image: url(/SRC/images-courflix/portada.png);
  background-size: cover;
  background-position: center;
  padding: 160px 80px 120px;
  min-height: 85vh;
  color: #fff;
}

@media (max-width: 568px) {
  body .main-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .main-photo-secondarytText {
  font-size: 1.5em;
  margin-bottom: 18px;
  font-weight: bold;
}

body .main-photo-principalText {
  font-size: 7.5em;
  margin-bottom: 15px;
  line-height: 1em;
  max-width: 650px;
  font-weight: bold;
}

body .main-photo-button-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 198px;
  height: 60px;
  background: rgba(157, 151, 151, 0.5);
  border-radius: 9px;
  margin-right: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
}

@media (max-width: 568px) {
  body .main-photo-button-1 {
    margin-bottom: 10px;
  }
}

body .main-photo-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 198px;
  height: 60px;
  background: rgba(157, 151, 151, 0.5);
  border-radius: 9px;
  margin-right: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
}

body .main-photo-thirdText {
  margin-top: 20px;
  font-size: 1.4em;
}

body .main-photo-Text {
  margin-top: 10px;
  font-size: 1.4em;
  max-width: 600px;
  line-height: 2em;
  font-weight: 200;
}

body .main-carousel-principal {
  margin: -100px 0 50px;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #000;
  min-height: 130vh;
}

body .main-carousel-principal .first-carousel .series-title-one {
  font-size: 1.5em;
  padding-bottom: 22px;
  padding-top: 10px;
}

body .main-carousel-principal .second-carousel .series-title {
  font-size: 1.5em;
  padding-bottom: 22px;
  padding-top: 54px;
}

body .main-carousel-principal .second-carousel .progress {
  margin: 15px;
  width: 221px;
  height: 10px;
  background-color: #858585;
}

body .main-carousel-principal .second-carousel .progress-bar {
  width: 157px;
  height: 10px;
  background-color: #C60F0E;
}

body .main-carousel-principal .second-carousel .progress-A {
  margin: 15px;
  width: 221px;
  height: 10px;
  background-color: #858585;
}

body .main-carousel-principal .second-carousel .progress-A .A {
  width: 60px;
  height: 10px;
  background-color: #C60F0E;
}

body .main-carousel-principal .second-carousel .progress-B {
  margin: 15px;
  width: 221px;
  height: 10px;
  background-color: #858585;
}

body .main-carousel-principal .second-carousel .progress-B .B {
  width: 26px;
  height: 10px;
  background-color: #C60F0E;
}

body .main-carousel-principal .second-carousel .progress-C {
  margin: 15px;
  width: 221px;
  height: 10px;
  background-color: #858585;
}

body .main-carousel-principal .second-carousel .progress-C .C {
  width: 0px;
  height: 10px;
  background-color: #C60F0E;
}

body .main-carousel-principal .second-carousel .progress-D {
  margin: 15px;
  width: 221px;
  height: 10px;
  background-color: #858585;
}

body .main-carousel-principal .second-carousel .progress-D .D {
  width: 30px;
  height: 10px;
  background-color: #C60F0E;
}

body .main-carousel-principal .second-carousel .progress-E {
  margin: 15px;
  width: 221px;
  height: 10px;
  background-color: #858585;
}

body .main-carousel-principal .second-carousel .progress-E .E {
  width: 80px;
  height: 10px;
  background-color: #C60F0E;
}

body .main-carousel-principal .second-carousel .progress-F {
  margin: 15px;
  width: 221px;
  height: 10px;
  background-color: #858585;
}

body .main-carousel-principal .second-carousel .progress-F .F {
  width: 45px;
  height: 10px;
  background-color: #C60F0E;
}

body .main-carousel-principal .second-carousel .progress-G {
  margin: 15px;
  width: 221px;
  height: 10px;
  background-color: #858585;
}

body .main-carousel-principal .second-carousel .progress-G .G {
  width: 10px;
  height: 10px;
  background-color: #C60F0E;
}

body .main-carousel-principal .second-carousel .progress-H {
  margin: 15px;
  width: 221px;
  height: 10px;
  background-color: #858585;
}

body .main-carousel-principal .second-carousel .progress-H .H {
  width: 55px;
  height: 10px;
  background-color: #C60F0E;
}

body .main-carousel-principal .third-carousel .series-title {
  font-size: 1.5em;
  padding-bottom: 22px;
  padding-top: 54px;
}
/*# sourceMappingURL=style.css.map */